<main>
  <h1><%= @article.title %></h1>

  <p class="flow"><%= @article.text %></p>

  <a href="https://twitter.com/intent/tweet?text=<%= @article.title %>&url=<%= article_url(@article) %>&hashtags=Recipicker&via=osynco">Tweet</a> |
  <%= link_to '編集', edit_article_path(@article) %> |
  <%= link_to '削除', article_path(@article), method: :delete, data: { confirm: '本当に削除してもいいですか？' } %>

  <!--
  <h2>Comments</h2>
  <%= render @article.comments %>

  <h2>Add a comment:</h2>
  <%= render "comments/form" %>
  -->
</main>

<%= render 'layouts/footer' %>
